@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.pre-animate {
  opacity: 0;
  transform: translateY(20px);
}

.fade-in {
  animation: fadeIn 1.2s ease-out forwards;
}

.fade-in-delayed {
  animation: fadeIn 1.2s ease-out forwards;
  animation-delay: 0.5s;
}

.button {
  opacity: 0; 
}

body {
  min-width: 100%;
  padding-top: 80px; 
}

.container {
  flex: 1 0 auto;
  margin: 0 auto;
  padding: 2rem 1rem;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
}

.thrive-container {
  width: 100%; 
  padding: 6.2rem 0; 
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0; 
  box-sizing: border-box; 
}

@media (max-width: 768px) {
  h1 {
    padding: 0 2rem;
  }
}

@media (min-width: 576px) and (max-width: 1023px) {
  .thrive-container {
    padding: 9.2rem 0; 
  }
}


