.terms-of-use-container {
    background-color: #030303;
    color: white;
    padding: 2rem;
    font-family: Poppins, sans-serif;
    line-height: 1.6;
    text-align: left;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }
  .terms-of-use-content {
    background-color: #1a1a1a;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    width: 100%;
  }
  
  h2 {
    font-size: 28px;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 1rem;
    line-height: 1.8;
  }
  
  .terms-of-use-container ul {
    padding-left: 20px;
  }
  
  .terms-of-use-container a {
    color: #F4BC2A;
    text-decoration: none;
  }
  
  .terms-of-use-container a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 569px) {
    .terms-of-use-content {
      padding: 2rem;
    }

    h1 {
      padding: 0 2rem;
    }
  }